@font-face {
  font-family: 'VTTech';
  src:  url('fonts/VTTech.eot?sftpzs');
  src:  url('fonts/VTTech.eot?sftpzs#iefix') format('embedded-opentype'),
    url('fonts/VTTech.ttf?sftpzs') format('truetype'),
    url('fonts/VTTech.woff?sftpzs') format('woff'),
    url('fonts/VTTech.svg?sftpzs#VTTech') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.iconvttech {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'VTTech' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconvttech-i_app1:before {
  content: "\e900";
}
.iconvttech-i_cancel1:before {
  content: "\e901";
}
.iconvttech-i_check1:before {
  content: "\e902";
}
.iconvttech-i_creat1:before {
  content: "\e903";
}
.iconvttech-i_cus1:before {
  content: "\e904";
}
.iconvttech-i_visitor1:before {
  content: "\e905";
}
.iconvttech-Prepaid-cards1:before {
  content: "\e906";
}
.iconvttech-prescription1:before {
  content: "\e907";
}
.iconvttech-service-payment1:before {
  content: "\e908";
}
.iconvttech-booking1:before {
  content: "\e909";
}
.iconvttech-cctreat1:before {
  content: "\e90a";
}
.iconvttech-creat-app1:before {
  content: "\e90b";
}
.iconvttech-dieutri1:before {
  content: "\e90c";
}
.iconvttech-nonecctreat1:before {
  content: "\e90d";
}
.iconvttech-print1:before {
  content: "\e90e";
}
.iconvttech-signature1:before {
  content: "\e90f";
}
.iconvttech-treatment1:before {
  content: "\e910";
}
.iconvttech-treatment-work1:before {
  content: "\e911";
}
.iconvttech-uniE9121:before {
  content: "\e912";
}
.iconvttech-deposit1:before {
  content: "\e913";
}
.iconvttech-history1:before {
  content: "\e914";
}
.iconvttech-installment1:before {
  content: "\e915";
}
.iconvttech-introduce1:before {
  content: "\e916";
}
.iconvttech-sms1:before {
  content: "\e917";
}
.iconvttech-cahnge-color1:before {
  content: "\e918";
}
.iconvttech-call-action1:before {
  content: "\e919";
}
.iconvttech-clear-sort1:before {
  content: "\e91a";
}
.iconvttech-cust-code1:before {
  content: "\e91b";
}
.iconvttech-down1:before {
  content: "\e91c";
}
.iconvttech-edit-action1:before {
  content: "\e91d";
}
.iconvttech-icon-doctor1:before {
  content: "\e91e";
}
.iconvttech-print-action1:before {
  content: "\e91f";
}
.iconvttech-room-action1:before {
  content: "\e920";
}
.iconvttech-setup1:before {
  content: "\e921";
}
.iconvttech-sms_action1:before {
  content: "\e922";
}
.iconvttech-tag-chichu-lich1:before {
  content: "\e923";
}
.iconvttech-up1:before {
  content: "\e924";
}
.iconvttech-filter-calendar1:before {
  content: "\e925";
}
.iconvttech-ACCOUNT1:before {
  content: "\e926";
}
.iconvttech-appoment1:before {
  content: "\e927";
}
.iconvttech-call011:before {
  content: "\e928";
}
.iconvttech-cancel-apps1:before {
  content: "\e929";
}
.iconvttech-chamsoc1:before {
  content: "\e92a";
}
.iconvttech-cus1:before {
  content: "\e92b";
}
.iconvttech-facebook1:before {
  content: "\e92c";
}
.iconvttech-labo1:before {
  content: "\e92d";
}
.iconvttech-marketing1:before {
  content: "\e92e";
}
.iconvttech-mobile1:before {
  content: "\e92f";
}
.iconvttech-on-mic011:before {
  content: "\e930";
}
.iconvttech-repport1:before {
  content: "\e931";
}
.iconvttech-serv1:before {
  content: "\e932";
}
.iconvttech-setting1:before {
  content: "\e933";
}
.iconvttech-sms011:before {
  content: "\e934";
}
.iconvttech-task1:before {
  content: "\e935";
}
.iconvttech-task-011:before {
  content: "\e936";
}
.iconvttech-un-mic011:before {
  content: "\e937";
}
.iconvttech-user-setting1:before {
  content: "\e938";
}
.iconvttech-warehouse1:before {
  content: "\e939";
}
.iconvttech-attach1:before {
  content: "\e93a";
}
.iconvttech-birth-day1:before {
  content: "\e93b";
}
.iconvttech-call1:before {
  content: "\e93c";
}
.iconvttech-cancel1:before {
  content: "\e93d";
}
.iconvttech-clear1:before {
  content: "\e93e";
}
.iconvttech-client_send1:before {
  content: "\e93f";
}
.iconvttech-comment1:before {
  content: "\e940";
}
.iconvttech-dot1:before {
  content: "\e941";
}
.iconvttech-face_icon1:before {
  content: "\e942";
}
.iconvttech-face_w1:before {
  content: "\e943";
}
.iconvttech-facelink1:before {
  content: "\e944";
}
.iconvttech-fillter1:before {
  content: "\e945";
}
.iconvttech-gotomess1:before {
  content: "\e946";
}
.iconvttech-hide1:before {
  content: "\e947";
}
.iconvttech-like1:before {
  content: "\e948";
}
.iconvttech-messenger1:before {
  content: "\e949";
}
.iconvttech-name1:before {
  content: "\e94a";
}
.iconvttech-nodelete_b1:before {
  content: "\e94b";
}
.iconvttech-nohide1:before {
  content: "\e94c";
}
.iconvttech-no-reply1:before {
  content: "\e94d";
}
.iconvttech-no-see1:before {
  content: "\e94e";
}
.iconvttech-ok1:before {
  content: "\e94f";
}
.iconvttech-phone-21:before {
  content: "\e950";
}
.iconvttech-profile1:before {
  content: "\e951";
}
.iconvttech-sex1:before {
  content: "\e952";
}
.iconvttech-staff1:before {
  content: "\e953";
}
.iconvttech-start1:before {
  content: "\e954";
}
.iconvttech-tag1:before {
  content: "\e955";
}
.iconvttech-teamplate1:before {
  content: "\e956";
}
.iconvttech-cancel-app1:before {
  content: "\e957";
}
.iconvttech-creat-csu-bo1:before {
  content: "\e958";
}
.iconvttech-creat-profile1:before {
  content: "\e959";
}
.iconvttech-dash1:before {
  content: "\e95a";
}
.iconvttech-desk1:before {
  content: "\e95b";
}
.iconvttech-export-ex1:before {
  content: "\e95c";
}
.iconvttech-icon-bacsi1:before {
  content: "\e95d";
}
.iconvttech-mute-volume1:before {
  content: "\e95e";
}
.iconvttech-notifaction1:before {
  content: "\e95f";
}
.iconvttech-phong1:before {
  content: "\e960";
}
.iconvttech-print11:before {
  content: "\e961";
}
.iconvttech-trongngay1:before {
  content: "\e962";
}
.iconvttech-vietnam1:before {
  content: "\e963";
}
.iconvttech-volum-noti1:before {
  content: "\e964";
}
.iconvttech-x-ray1:before {
  content: "\e965";
}
.iconvttech-call11:before {
  content: "\e966";
}
.iconvttech-mute-call-center1:before {
  content: "\e967";
}
.iconvttech-on-mic1:before {
  content: "\e968";
}
.iconvttech-booking11:before {
  content: "\e969";
}
.iconvttech-call21:before {
  content: "\e96a";
}
.iconvttech-call0111:before {
  content: "\e96b";
}
.iconvttech-call-ticket1:before {
  content: "\e96c";
}
.iconvttech-cancel11:before {
  content: "\e96d";
}
.iconvttech-cancel-011:before {
  content: "\e96e";
}
.iconvttech-cancel-app11:before {
  content: "\e96f";
}
.iconvttech-check1:before {
  content: "\e970";
}
.iconvttech-creat-app11:before {
  content: "\e971";
}
.iconvttech-delete1:before {
  content: "\e972";
}
.iconvttech-delete011:before {
  content: "\e973";
}
.iconvttech-disable1:before {
  content: "\e974";
}
.iconvttech-edit1:before {
  content: "\e975";
}
.iconvttech-import-file1:before {
  content: "\e976";
}
.iconvttech-labo11:before {
  content: "\e977";
}
.iconvttech-list-ticket-file1:before {
  content: "\e978";
}
.iconvttech-lock1:before {
  content: "\e979";
}
.iconvttech-lock-011:before {
  content: "\e97a";
}
.iconvttech-LOCK-USER-bo1:before {
  content: "\e97b";
}
.iconvttech-print21:before {
  content: "\e97c";
}
.iconvttech-refesh1:before {
  content: "\e97d";
}
.iconvttech-restore1:before {
  content: "\e97e";
}
.iconvttech-send-sms1:before {
  content: "\e97f";
}
.iconvttech-ticket1:before {
  content: "\e980";
}
.iconvttech-todo1:before {
  content: "\e981";
}
.iconvttech-tranfer-user1:before {
  content: "\e982";
}
.iconvttech-unlock1:before {
  content: "\e983";
}
.iconvttech-unlock-011:before {
  content: "\e984";
}
.iconvttech-unlock-usser-bo1:before {
  content: "\e985";
}
.iconvttech-xem1:before {
  content: "\e986";
}
.iconvttech-logo1:before {
  content: "\e987";
}
