$icomoon-font-family: "VTTech" !default;
$icomoon-font-path: "fonts" !default;

$iconvttech-i_app1: "\e900";
$iconvttech-i_cancel1: "\e901";
$iconvttech-i_check1: "\e902";
$iconvttech-i_creat1: "\e903";
$iconvttech-i_cus1: "\e904";
$iconvttech-i_visitor1: "\e905";
$iconvttech-Prepaid-cards1: "\e906";
$iconvttech-prescription1: "\e907";
$iconvttech-service-payment1: "\e908";
$iconvttech-booking1: "\e909";
$iconvttech-cctreat1: "\e90a";
$iconvttech-creat-app1: "\e90b";
$iconvttech-dieutri1: "\e90c";
$iconvttech-nonecctreat1: "\e90d";
$iconvttech-print1: "\e90e";
$iconvttech-signature1: "\e90f";
$iconvttech-treatment1: "\e910";
$iconvttech-treatment-work1: "\e911";
$iconvttech-uniE9121: "\e912";
$iconvttech-deposit1: "\e913";
$iconvttech-history1: "\e914";
$iconvttech-installment1: "\e915";
$iconvttech-introduce1: "\e916";
$iconvttech-sms1: "\e917";
$iconvttech-cahnge-color1: "\e918";
$iconvttech-call-action1: "\e919";
$iconvttech-clear-sort1: "\e91a";
$iconvttech-cust-code1: "\e91b";
$iconvttech-down1: "\e91c";
$iconvttech-edit-action1: "\e91d";
$iconvttech-icon-doctor1: "\e91e";
$iconvttech-print-action1: "\e91f";
$iconvttech-room-action1: "\e920";
$iconvttech-setup1: "\e921";
$iconvttech-sms_action1: "\e922";
$iconvttech-tag-chichu-lich1: "\e923";
$iconvttech-up1: "\e924";
$iconvttech-filter-calendar1: "\e925";
$iconvttech-ACCOUNT1: "\e926";
$iconvttech-appoment1: "\e927";
$iconvttech-call011: "\e928";
$iconvttech-cancel-apps1: "\e929";
$iconvttech-chamsoc1: "\e92a";
$iconvttech-cus1: "\e92b";
$iconvttech-facebook1: "\e92c";
$iconvttech-labo1: "\e92d";
$iconvttech-marketing1: "\e92e";
$iconvttech-mobile1: "\e92f";
$iconvttech-on-mic011: "\e930";
$iconvttech-repport1: "\e931";
$iconvttech-serv1: "\e932";
$iconvttech-setting1: "\e933";
$iconvttech-sms011: "\e934";
$iconvttech-task1: "\e935";
$iconvttech-task-011: "\e936";
$iconvttech-un-mic011: "\e937";
$iconvttech-user-setting1: "\e938";
$iconvttech-warehouse1: "\e939";
$iconvttech-attach1: "\e93a";
$iconvttech-birth-day1: "\e93b";
$iconvttech-call1: "\e93c";
$iconvttech-cancel1: "\e93d";
$iconvttech-clear1: "\e93e";
$iconvttech-client_send1: "\e93f";
$iconvttech-comment1: "\e940";
$iconvttech-dot1: "\e941";
$iconvttech-face_icon1: "\e942";
$iconvttech-face_w1: "\e943";
$iconvttech-facelink1: "\e944";
$iconvttech-fillter1: "\e945";
$iconvttech-gotomess1: "\e946";
$iconvttech-hide1: "\e947";
$iconvttech-like1: "\e948";
$iconvttech-messenger1: "\e949";
$iconvttech-name1: "\e94a";
$iconvttech-nodelete_b1: "\e94b";
$iconvttech-nohide1: "\e94c";
$iconvttech-no-reply1: "\e94d";
$iconvttech-no-see1: "\e94e";
$iconvttech-ok1: "\e94f";
$iconvttech-phone-21: "\e950";
$iconvttech-profile1: "\e951";
$iconvttech-sex1: "\e952";
$iconvttech-staff1: "\e953";
$iconvttech-start1: "\e954";
$iconvttech-tag1: "\e955";
$iconvttech-teamplate1: "\e956";
$iconvttech-cancel-app1: "\e957";
$iconvttech-creat-csu-bo1: "\e958";
$iconvttech-creat-profile1: "\e959";
$iconvttech-dash1: "\e95a";
$iconvttech-desk1: "\e95b";
$iconvttech-export-ex1: "\e95c";
$iconvttech-icon-bacsi1: "\e95d";
$iconvttech-mute-volume1: "\e95e";
$iconvttech-notifaction1: "\e95f";
$iconvttech-phong1: "\e960";
$iconvttech-print11: "\e961";
$iconvttech-trongngay1: "\e962";
$iconvttech-vietnam1: "\e963";
$iconvttech-volum-noti1: "\e964";
$iconvttech-x-ray1: "\e965";
$iconvttech-call11: "\e966";
$iconvttech-mute-call-center1: "\e967";
$iconvttech-on-mic1: "\e968";
$iconvttech-booking11: "\e969";
$iconvttech-call21: "\e96a";
$iconvttech-call0111: "\e96b";
$iconvttech-call-ticket1: "\e96c";
$iconvttech-cancel11: "\e96d";
$iconvttech-cancel-011: "\e96e";
$iconvttech-cancel-app11: "\e96f";
$iconvttech-check1: "\e970";
$iconvttech-creat-app11: "\e971";
$iconvttech-delete1: "\e972";
$iconvttech-delete011: "\e973";
$iconvttech-disable1: "\e974";
$iconvttech-edit1: "\e975";
$iconvttech-import-file1: "\e976";
$iconvttech-labo11: "\e977";
$iconvttech-list-ticket-file1: "\e978";
$iconvttech-lock1: "\e979";
$iconvttech-lock-011: "\e97a";
$iconvttech-LOCK-USER-bo1: "\e97b";
$iconvttech-print21: "\e97c";
$iconvttech-refesh1: "\e97d";
$iconvttech-restore1: "\e97e";
$iconvttech-send-sms1: "\e97f";
$iconvttech-ticket1: "\e980";
$iconvttech-todo1: "\e981";
$iconvttech-tranfer-user1: "\e982";
$iconvttech-unlock1: "\e983";
$iconvttech-unlock-011: "\e984";
$iconvttech-unlock-usser-bo1: "\e985";
$iconvttech-xem1: "\e986";
$iconvttech-logo1: "\e987";

